{{> amp-head}}

    <main class="wrap-page">
        <div class="page-title">           
                {{#author}}
                    {{#if avatar}}
                        {{#avatarImage}}
                        <amp-img
                            src="{{url}}"
                            alt="{{alt}}"
                            class="page-title-author"
                            height="{{height}}"
                            layout="responsive"
                            width="{{width}}">
                        </amp-img>
                        {{/avatarImage}}
                    {{/if}}

                    <h1>
                        {{name}} <sup>({{postsNumber}})</sup>
                    </h1>

                    {{#if description}}
                        <p>{{description}}</p>
                    {{/if}}
                {{/author}}
            </div>

        {{#if posts}}
            {{#each posts}}
             <article class="card">
                {{#featuredImage}}
                    {{#if url}}
                    <a href="{{../url}}">
                        <amp-img                           
                            src="{{url}}"
                            alt="{{alt}}"
                            {{#if srcset.amp}}
                            srcset="{{srcset.amp}}"
                            {{else}}
                                {{#if srcset}}
                            srcset="{{srcset}}"
                                {{/if}}
                            {{/if}}
                            {{#if sizes.amp}}
                            sizes="{{sizes.amp}}"
                            {{else}}
                                {{#if sizes}}
                            sizes="{{sizes}}"
                                {{/if}}
                            {{/if}}
                            height="{{height}}"
                            layout="responsive"
                            width="{{width}}">
                        </amp-img>
                    </a>
                    {{/if}}
                {{/featuredImage}}
                 
           <div class="card-text">
                <h2>
                    <a href="{{url}}"> {{title}} </a>
                </h2>
                
                <p>{{{excerpt}}}</p>
                
                <p class="card-meta">                    
                    <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                        {{date createdAt @config.custom.formatDate}}
                    </time>
                </p>
               
            </div>           
            </article>
            {{/each}}
        {{/if}}

    {{> amp-pagination}}

    </main>

{{> amp-footer}}
