{{#unless level}}
<nav class="menu">
{{/unless}}
    <ul{{#if level}} class="navbar__submenu" {{else}} class="navbar__menu"{{/if}}>
        {{#each items}}
            <li{{menuItemClasses}}>
            {{#if link}}
            <a href="{{menuUrl}}"{{#if title}} title="{{title}}"{{/if}}{{#if target}} target="{{target}}"{{/if}}>{{label}}</a>
            {{else}}
            <span{{#if title}} title="{{title}}"{{/if}}>{{label}}</span>
            {{/if}}

            {{#if items}}
                {{> menu}}
            {{/if}}
        </li>
        {{/each}}
    </ul>
{{#unless level}}
    <button class="menu__close js-menu__close">{{ translate 'partials.menu.close' }}</button>
</nav>
{{/unless}}
