{{> head}}
<body>
    {{{@bodyCustomCode}}}
    <div class="container">
        <header class="js-top">
           <a class="logo" href="{{@website.url}}">
                    {{#if @website.logo}}
                        <img src="{{@website.logo}}" alt="{{@website.name}}">
                    {{else}}
                        {{@website.name}}
                    {{/if}}
             </a>
			 <div class="top">
                {{#if menus.mainMenu}}
                    {{> menu menus.mainMenu}}
                {{/if}}
                {{> search}}
            </div>
        </header>
        <main>
            <section class="hero hero--normal">
                <header>
                    <h1 class="hero__title">
                        {{ translate 'error.404' }}
                    </h1>
                    <p class="hero__desc">
                        {{ translate 'error.message' }}
                    </p>
                </header>
            </section>
        </main>
        {{> footer}}
