{{> head}}
<body class="js-loading">
	{{{@bodyCustomCode}}}
    <div class="container">
        <header class="js-top">
             <a class="logo" href="{{@website.url}}">
                    {{#if @website.logo}}
                        <img src="{{@website.logo}}" alt="{{@website.name}}">
                    {{else}}
                        {{@website.name}}
                    {{/if}}
             </a>
			 <div class="top">
                {{> menu menus.mainMenu}}
                {{> search}}
            </div>
        </header>
        <main>
            {{#checkIf @config.custom.sliderSource '==' "featured" }}
                <div
                    class="slider"
                    {{#if @config.custom.sliderAutoplay}}
                    data-autoanimation="1"
                    data-autoanimation-interval="{{@config.custom.sliderAutoplaySpeed}}"
                    {{else}}
                    {{/if}}>
                    <div class="slider__viewport zoomIn">
                        <div class="slider__down">
                            {{#each featuredPosts}}
                                {{#featuredImage}}
                                    {{#if @config.custom.sliderPreloader}}
                                        <img
                                            src="{{url}}"
                                            sizes="{{sizes.slider}}"
                                            srcset="{{srcset.slider}}"
                                            alt="{{alt}}">
                                    {{else}}
                                        {{#if @config.custom.lazyLoad}}
                                            <img
                                                class="lazyload"
                                                 {{#checkIf @config.custom.lazyLoadEffect '!==' "lqip" }}
                                                    src="{{urlXs}}" 
                                                 {{else}}
                                                    data-src="{{url}}"  
                                                 {{/checkIf}}
                                                data-srcset="{{srcset.slider}}"
                                                data-sizes="auto"
                                                data-expand="100"
                                                height="{{height}}" 
										        width="{{width}}"
                                                alt="{{alt}}">
                                        {{else}}
                                            <img
                                                src="{{url}}"
                                                sizes="{{sizes.slider}}"
                                                srcset="{{srcset.slider}}"
                                                alt="{{alt}}">
                                        {{/if}}
                                    {{/if}}
                                {{/featuredImage}}
                            {{/each}}
                        </div>
                        <div class="slider__up">
                            {{#each featuredPosts}}
                                <div
                                    class="slider__txt {{#checkIf ../featuredPosts.length '==' 1}}is-active{{/checkIf}}">
                                    <div class="slider__txtwrap">
                                        {{#if @config.custom.sliderCategory}}
                                            {{#if tags}}
                                                {{#each tags}}
                                                    {{#if @first}}
                                                        <a href="{{url}}" class="slider__category" title="{{name}}">
                                                            {{name}}
                                                        </a>
                                                    {{/if}}
                                                {{/each}}
                                            {{/if}}
                                        {{/if}}
                                        <h1>{{title}}</h1>
                                        {{#if @config.custom.sliderButton}}
                                            <a href="{{url}}" class="slider__btn">
                                                <span class="slider__btn__txt">{{ translate 'slider.button' }}</span>
                                                <span class="slider__btn__icon">
                                                    <svg>
                                                        <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#arrow-next"/>
                                                    </svg>
                                                </span>
                                            </a>
                                        {{/if}}
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
					{{#checkIf featuredPosts.length '!=' 1}}
                         <div class="{{#if @config.custom.sliderPaginationDots}}slider-dots {{else}}slider-dots slider-dots--invisible{{/if}} {{#checkIf @config.custom.sliderPaginationDotsPosition '==' "right" }}slider-dots--right {{else}}slider-dots--left {{/checkIf}}">
                             {{#each featuredPosts}}
                                 <button class="slider-dots__item">{{ translate "slider.slide" (math @index '+' 1) }}</button>
                             {{/each}}
                         </div>						
					{{/checkIf}}
                    {{#if @config.custom.sliderPreloader}}
					     <div class="slider-preloader">Do not refresh the page</div>
					{{/if}}
                </div>
            {{else}}
                <div
                    class="slider"
                    {{#if @config.custom.sliderAutoplay}}
                    data-autoanimation="1"
                    data-autoanimation-interval="{{@config.custom.sliderAutoplaySpeed}}"
                    {{else}}
                    {{/if}}>
                    <div class="slider__viewport zoomIn">
                        <div class="slider__down">
                            {{#each posts}}
                                {{#featuredImage}}
                                    {{#if @config.custom.sliderPreloader}}
                                        <img
                                            src="{{url}}"
                                            sizes="{{sizes.slider}}"
                                            srcset="{{srcset.slider}}"
                                            alt="{{alt}}">
                                    {{else}}
                                        {{#if @config.custom.lazyLoad}}
                                            <img
                                                class="lazyload"
                                                {{#checkIf @config.custom.lazyLoadEffect '!==' "lqip" }}
                                                   src="{{urlXs}}" 
                                                {{else}}
                                                   data-src="{{url}}"  
                                                {{/checkIf}}
                                                data-srcset="{{srcset.slider}}"
                                                data-sizes="auto"
                                                data-expand="100"
                                                height="{{height}}" 
										        width="{{width}}"
                                                alt="{{alt}}">
                                        {{else}}
                                            <img
                                                src="{{url}}"
                                                sizes="{{sizes.slider}}"
                                                srcset="{{srcset.slider}}"
                                                alt="{{alt}}">
                                        {{/if}}
                                    {{/if}}
                                {{/featuredImage}}
                            {{/each}}
                        </div>
                        <div class="slider__up">
                            {{#each posts}}
                                <div class="slider__txt {{#checkIf ../posts.length '==' 1}}is-active{{/checkIf}}">
                                    <div class="slider__txtwrap">
                                        {{#if @config.custom.sliderCategory}}
                                            {{#if tags}}
                                                {{#each tags}}
                                                    {{#if @first}}
                                                        <a href="{{url}}" class="slider__category" title="{{name}}">
                                                            {{name}}
                                                        </a>
                                                    {{/if}}
                                                {{/each}}
                                            {{/if}}
                                        {{/if}}
                                        <h1>{{title}}</h1>
                                        {{#if @config.custom.sliderButton}}
                                            <a href="{{url}}" class="slider__btn">
                                                <span class="slider__btn__txt">{{ translate 'slider.button' }}</span>
                                                <span class="slider__btn__icon">
                                                    <svg>
                                                        <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#arrow-next"/>
                                                    </svg>
                                                </span>
                                            </a>
                                        {{/if}}
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
					{{#checkIf posts.length '!=' 1}}
                         <div class="{{#if @config.custom.sliderPaginationDots}}slider-dots {{else}}slider-dots slider-dots--invisible{{/if}} {{#checkIf @config.custom.sliderPaginationDotsPosition '==' "right" }}slider-dots--right {{else}}slider-dots--left {{/checkIf}}">
                             {{#each posts}}
                                <button class="slider-dots__item">{{ translate "slider.slide" (math @index '+' 1) }}</button>
                             {{/each}}
                         </div>
					{{/checkIf}}
                     {{#if @config.custom.sliderPreloader}}
					     <div class="slider-preloader">Do not refresh the page</div>
					{{/if}}
                </div>
            {{/checkIf}}         
        </main>
        {{> footer}}