{{> head}}
<body>
    {{{@bodyCustomCode}}}
    <div class="container">
        <header class="js-top">
            <a class="logo" href="{{@website.url}}">
                {{#if @website.logo}}
                    <img src="{{@website.logo}}" alt="{{@website.name}}">
                {{else}}
                    {{@website.name}}
                {{/if}}
            </a>
            <div class="top">
                {{#if menus.mainMenu}}
                    {{> menu menus.mainMenu}}
                {{/if}}
                {{> search}}
            </div>
        </header>
        <main>
            <section class="hero hero--normal">
                <header>
                    <h1 class="hero__title">
                        {{ translate 'search.title' }}
                    </h1>
                    <form action="{{@website.searchUrl}}" class="hero__desc search-page">
                        <input
                            type="search"
                            name="{{@config.custom.searchParam}}"
                            placeholder="{{ translate 'search.placeholder' }}"
                            class="search-page__input"/>
                    </form>
                </header>
            </section>
            <div class="category">
                <script>
                    (function () {
                        var cx = '{{@config.custom.searchId}}';
                        var gcse = document.createElement('script');
                        gcse.type  = 'text/javascript';
                        gcse.async = true;
                        gcse.src   = 'https://cse.google.com/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(gcse, s);
                    })();
                </script>
                <gcse:searchresults-only></gcse:searchresults-only>
            </div>
        </main>
        {{> footer}}
