{{> head}}
<body>
	{{{@bodyCustomCode}}}
    <div class="container">
        <header class="js-top">
              <a class="logo" href="{{@website.url}}">
                    {{#if @website.logo}}
                        <img src="{{@website.logo}}" alt="{{@website.name}}">
                    {{else}}
                        {{@website.name}}
                    {{/if}}
             </a>
			 <div class="top">
                {{#if menus.mainMenu}}
                    {{> menu menus.mainMenu}}
                {{/if}}
                {{> search}}
            </div>
        </header>
        <main>
            <section class="hero hero--normal">
                {{#tag}}
                    <header>
                        <h1 class="hero__title">
							{{name}}                           
                        </h1>
                        {{#if description}}
                           <p class="hero__desc">
								{{description}}
                            </p>
                        {{/if}}
                    </header>
                {{/tag}}
            </section>
            <div class="category {{@config.custom.layoutTags}}">
                {{#each posts}}
                    <article>
                        {{#featuredImage}}
                            {{#if @config.custom.lazyLoad}}
                                <figure class="category__image">
                                    <a href="{{../url}}">
                                        <img
                                            class="lazyload"
                                            {{#checkIf @config.custom.lazyLoadEffect '!==' "lqip" }}
                                                src="{{urlXs}}" 
                                            {{else}}
                                                data-src="{{url}}"  
                                            {{/checkIf}}
                                            data-srcset="{{srcset.post}}"
                                            data-sizes="auto"
											height="{{height}}" 
										    width="{{width}}"
                                            data-expand="300"
                                            alt="{{alt}}">
                                    </a>
                                </figure>
                            {{else}}
                                <figure class="category__image">
                                    <a href="{{../url}}">
                                        <img
                                            src="{{url}}"
                                            sizes="{{sizes.post}}"
                                            srcset="{{srcset.post}}"
											height="{{height}}" 
										    width="{{width}}"
                                            alt="{{alt}}">
									</a>
                                </figure>
                            {{/if}}
                        {{/featuredImage}}
                        <header class="category__header">
                            <p>
                               <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                                {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                    {{date createdAt @config.custom.formatDate}}
                                {{else}}
                                    {{date createdAt @config.custom.formatDateCustom}}
                                {{/checkIf}}
                            </time>
                            </p>
                            <h2>
                                <a href="{{url}}">{{title}}</a>
                            </h2>
                        </header>
                        {{#if hasCustomExcerpt}}
                             <div class="category__entry">
                                 {{{excerpt}}}
                             </div>
                        {{else}}
                             <p class="category__entry">
                                  {{{excerpt}}}
                             </p>
                        {{/if}}
                        
                        <a href="{{url}}" class="category__btn">{{ translate 'common.readmore' }}</a>
                    </article>
                {{/each}}
            </div>
            {{> pagination}}
        </main>
        {{> footer}}