{{> head}}
    {{> top}}   
    <main>
        <section class="hero {{@config.custom.widthHero}}">
            <header>
                <h1>
                    {{ translate 'error.404' }}
                </h1>
                <p>
                    {{ translate 'error.message' }}
                </p>
            </header>
            {{#checkIfAll @config.custom.uploadHero @config.custom.displayHeroImage}}
                   <figure>
                      <img
                           class="lazyload"
                           {{#checkIf @config.custom.lazyLoadEffect '!==' "lqip" }}
                               src="{{@config.custom.uploadHero}}"
                           {{else}}
                               data-src="{{@config.custom.uploadHero}}"
                           {{/checkIf}}
                           {{responsiveSrcSet @config.custom.uploadHero}}
                           {{responsiveSizes}}
                           alt="{{@config.custom.uploadHeroAlt}}">
                      {{#if @config.custom.uploadHeroCaption}}
                         <figcaption>
                            {{@config.custom.uploadHeroCaption}}
                         </figcaption>
                      {{/if}}
                  </figure>
              {{/checkIfAll}}   
        </section>
    </main>
    {{> footer}}
