{{> head}}
    {{> top}}
    <main class="main">
         <section class="hero {{@config.custom.widthHero}} search-page">
            <header>
				<h1>
					{{ translate 'search.title' }}
				</h1>	
				<form action="{{@website.searchUrl}}" class="u-innerwrap" >
					<input
					   type="search" 
					   name="{{@config.custom.searchParam}}" 
					   placeholder="{{ translate 'search.placeholder' }}" 
					   class="search-page__input"/>
				</form>
			 </header>
             {{#checkIfAll @config.custom.uploadHero @config.custom.displayHeroImage}}
                   <figure>
                      <img
                        class="lazyload"
                           {{#checkIf @config.custom.lazyLoadEffect '!==' "lqip" }}
                               src="{{@config.custom.uploadHero}}"
                           {{else}}
                               data-src="{{@config.custom.uploadHero}}"
                           {{/checkIf}}
                           {{responsiveSrcSet @config.custom.uploadHero}}
                           {{responsiveSizes}}
               alt="{{@config.custom.uploadHeroAlt}}">
                      {{#if @config.custom.uploadHeroCaption}}
                         <figcaption>
                            {{@config.custom.uploadHeroCaption}}
                         </figcaption>
                      {{/if}}
                  </figure>
              {{/checkIfAll}}   
		</section> 
		<div class="u-innerwrap">
			<script>
				(function () {
					var cx = '{{@config.custom.searchId}}';
					var gcse = document.createElement('script');
					gcse.type  = 'text/javascript';
					gcse.async = true;
					gcse.src   = 'https://cse.google.com/cse.js?cx=' + cx;
					var s = document.getElementsByTagName('script')[0];
					s.parentNode.insertBefore(gcse, s);
				})();
			</script>
			<gcse:searchresults-only></gcse:searchresults-only>
		</div>
    </main>

    {{> footer}}
