<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = '{{url}}';
        this.page.identifier = '{{id}}';
    };
    var disqus_element_to_check = document.getElementById('disqus_thread');

    if ('IntersectionObserver' in window) {
        var iObserver = new IntersectionObserver(
            (entries, observer) => {
                entries.forEach(entry => {
                    if (entry.intersectionRatio >= 0.1) {
                        (function () {
                            var d = document, s = d.createElement('script');
                            s.src = 'https://'+'{{@config.custom.commentDisqusShortname}}'.trim()+'.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                        observer.unobserve(entry.target);
                    }
                });
            },
            {
                threshold: [0, 1]
            }
        );

        iObserver.observe(disqus_element_to_check);
    } else {
        (function () {
            var d = document, s = d.createElement('script');
            s.src = 'https://'+'{{@config.custom.commentDisqusShortname}}'.trim()+'.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    }
</script>
<noscript>{{ translate 'partials.disqus.noscript1' }} <a href="https://disqus.com/?ref_noscript" rel="nofollow">{{ translate 'partials.disqus.noscript2' }}</a></noscript>