<footer class="footer">
    {{#if @config.custom.socialButtons}}
        <div class="footer__social">
            {{#if @config.custom.socialFacebook}}
                <a href="{{@config.custom.socialFacebook}}" aria-label="Facebook">
                    <svg>
                        <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#facebook"/>
                    </svg>
                </a>
            {{/if}}
            {{#if @config.custom.socialTwitter}}
                <a href="{{@config.custom.socialTwitter}}" aria-label="Twitter">
                    <svg>
                        <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#twitter"/>
                    </svg>
                </a>
            {{/if}}
            {{#if @config.custom.socialInstagram}}
                <a href="{{@config.custom.socialInstagram}}" aria-label="Instagram">
                    <svg>
                        <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#instagram"/>
                    </svg>
                </a>
            {{/if}}
            {{#if @config.custom.socialLinkedin}}
                <a href="{{@config.custom.socialLinkedin}}" aria-label="LinkedIn">
                    <svg>
                        <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#linkedin"/>
                    </svg>
                </a>
            {{/if}}
            {{#if @config.custom.socialVimeo}}
                <a href="{{@config.custom.socialVimeo}}" aria-label="Vimeo">
                    <svg>
                        <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#vimeo"/>
                    </svg>
                </a>
            {{/if}}
            {{#if @config.custom.socialPinterest}}
                <a href="{{@config.custom.socialPinterest}}" aria-label="Pinterest">
                    <svg>
                        <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#pinterest"/>
                    </svg>
                </a>
            {{/if}}
            {{#if @config.custom.socialYoutube}}
                <a href="{{@config.custom.socialYoutube}}" aria-label="Youtube">
                    <svg>
                        <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#youtube"/>
                    </svg>
                </a>
            {{/if}}
        </div>
    {{/if}}
    {{#if @config.custom.copyrightText}}
        <div class="footer__copyright">
            {{{@config.custom.copyrightText}}}
        </div>
    {{/if}}
    {{#if @config.custom.backToTopButton}}
       <button class="footer__bttop js-footer__bttop" aria-label="{{ translate 'partials.footer.backToTop' }}"> 
           <svg>
               <title>{{ translate 'partials.footer.backToTop' }}</title>
               <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#toparrow" />
           </svg>
       </button>   
    {{/if}}
</footer>
</div>

<script>
   window.publiiThemeMenuConfig = {    
        mobileMenuMode: '{{@config.custom.mobilemenu}}',
        animationSpeed: 300,
        submenuWidth: {{#checkIf @config.custom.submenu '==' "auto" }}'auto'{{else}}{{@config.custom.submenuWidth}}{{/checkIf}},
        doubleClickTime: 500,
        mobileMenuExpandableSubmenus: {{@config.custom.mobilemenuExpandableSubmenus}}, 
        relatedContainerForOverlayMenuSelector: '.top',
   };
</script>
<script defer src="{{js "scripts.min.js"}}"></script>

{{#if @config.custom.lazyLoad}}
<script>
      var lazyFeaturedImage=function lazyFeaturedImage(){var b=document.querySelectorAll(".hero__image-img");for(var a=0;a<b.length;a++){var c=b[a];c.addEventListener("lazyloaded",function(f){var d=f.target.parentNode;d.classList.add("hero__image--overlay")})}};lazyFeaturedImage();
   </script>
{{/if}}
{{#is "post"}}
   {{#post}}
      {{#if hasGallery}}
          {{> photoswipe}}
      {{/if}}
  {{/post}}
{{/is}}
{{#checkIf @config.custom.frontSource '==' "post"}}
   {{#checkIf @config.custom.frontGallery '==' true}}
      {{#is "index"}}
          {{> photoswipe}}
      {{/is}}
   {{/checkIf}}
{{/checkIf}}
{{#if @renderer.previewMode}}
<script defer src="{{js "svg2js.js"}}"></script>
<script defer src="{{js "svg-fix.js"}}"></script>
{{/if}}
{{{@footerCustomCode}}}
{{{ publiiFooter }}}
</body>
</html>
