<header class="top js-header">
   <a class="logo" href="{{@website.url}}">
      {{#if @website.logo}}
         <img src="{{@website.logo}}" alt="{{@website.name}}" width="{{@website.logoSize.width}}" height="{{@website.logoSize.height}}">
      {{else}}
         {{@website.name}}
      {{/if}}
   </a>
   {{#if menus.mainMenu}}
      {{> menu menus.mainMenu}}
   {{/if}}
   {{#if @config.custom.searchFeature}}
      <div class="search">
         <div class="search__overlay js-search-overlay">
            <div class="wrapper search__overlay-inner">
               {{{@customSearchInput}}} 
            </div>
         </div>
         <button class="search__btn btn--icon js-search-btn" aria-label="{{ translate 'search.search' }}">
            <svg height="18" width="18" role="presentation" focusable="false">
               <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#search"/>
            </svg>
         </button>
      </div>
   {{/if}}
</header>
