<div class="site-container">
   <header class="top" id="js-header">
      <a class="logo" href="{{@website.url}}">
         {{#if @website.logo}}
            <img src="{{@website.logo}}" alt="{{@website.name}}">
         {{else}}
            {{@website.name}}
         {{/if}}
      </a>
      {{#if menus.mainMenu}}
         {{> menu menus.mainMenu}}
      {{/if}}
      {{#if @config.custom.search}}
         <div class="search">
            <div class="search__overlay js-search-overlay">
               <div class="search__overlay-inner">
                  <form action="{{@website.searchUrl}}" class="search__form">
                     <input
                        class="search__input js-search-input"
                        type="search"
                        name="{{@config.custom.searchParam}}"
                        placeholder="{{ translate 'search.placeholder' }}"
                        autofocus="autofocus"/>
                  </form>
                  <button class="search__close js-search-close" aria-label="{{ translate 'search.close' }}">
                     {{ translate 'search.close' }}
                  </button>
               </div>
            </div>
            <button class="search__btn js-search-btn" aria-label="{{ translate 'search.search' }}">
               <svg role="presentation" focusable="false">
                  <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#search"/>
               </svg>
            </button>
         </div>
      {{/if}}
   </header>
