<div class="site-container">
   <header class="top" id="js-header">
      <a class="logo" href="{{@website.url}}">
         {{#if @website.logo}}
            <img src="{{@website.logo}}" alt="{{@website.name}}">
         {{else}}
            {{@website.name}}
         {{/if}}
      </a>
      {{#if menus.mainMenu}}
         {{> menu menus.mainMenu}}
      {{/if}}
      {{#if @config.custom.search}}
         <div class="search">
            <div class="search__overlay js-search-overlay">
               <div class="search__overlay-inner">
                  {{#checkIf @config.custom.searchMode '===' "external"}}
                        <form action="{{@config.custom.searchServer}}" class="search__form" method="{{@config.custom.searchMethod}}" {{#if @config.custom.searchTab}}target="_blank"{{/if}} {{#if @config.custom.searchForceWebsiteResults}}onsubmit="configInputSubmit();"{{/if}}>
                            {{#if @config.custom.searchForceWebsiteResults}}
                                <input
                                    id="search_input"
                                    class="search__input js-search-input"
                                    type="search"
                                    placeholder="{{ translate 'search.placeholder' }}" 
                                    aria-label="{{ translate 'search.placeholder' }}"
                                    autofocus="autofocus"
                                />
                                <input
                                    id="search_go"
                                    type="hidden"
                                    name="{{@config.custom.searchParam}}"
                                />
                            {{else}}
                                <input
                                    class="search__input js-search-input"
                                    type="search"
                                    placeholder="{{ translate 'search.placeholder' }}" 
                                    aria-label="{{ translate 'search.placeholder' }}"
                                    autofocus="autofocus"
                                    name="{{@config.custom.searchParam}}"
                                />
                            {{/if}}
                      </form>
                        {{#if @config.custom.searchForceWebsiteResults}}
                            <script>
                            function configInputSubmit(){
                                document.getElementById('search_go').value='site:'+window.location.hostname+' '+document.getElementById('search_input').value;
                                return true;
                            }
                            </script>
                        {{/if}}
                    {{/checkIf}}
                    {{#checkIf @config.custom.searchMode '===' "integrated"}}
                        <form action="{{@website.searchUrl}}" class="search__form" {{#if @config.custom.searchTab}}target="_blank"{{/if}}>
                             <input
                                class="search__input js-search-input"
                                type="search"
                                name="{{@config.custom.searchParam}}"
                                placeholder="{{ translate 'search.placeholder' }}" 
                                aria-label="{{ translate 'search.placeholder' }}"
                                autofocus="autofocus"/>
                        </form>
                    {{/checkIf}}
                  <button class="search__close js-search-close" aria-label="{{ translate 'search.close' }}">
                     {{ translate 'search.close' }}
                  </button>
               </div>
            </div>
            <button class="search__btn js-search-btn" aria-label="{{ translate 'search.search' }}">
               <svg role="presentation" focusable="false">
                  <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#search"/>
               </svg>
            </button>
         </div>
      {{/if}}
   </header>
