{{> head}}
    {{> top}}
    <main class="main">
         <section class="hero search-page">
            <header>
				<h1>
					{{ translate 'search.title' }}
				</h1>
			 </header>
			<form action="{{@website.searchUrl}}" >
				<input
					   type="search" 
					   name="{{@config.custom.searchParam}}" 
					   placeholder="{{ translate 'search.placeholder' }}" 
					   class="search-page__input"/>
			 </form>
		</section> 
		<div class="u-innerwrap">
			<script>
				(function () {
					var cx = '{{@config.custom.searchId}}';
					var gcse = document.createElement('script');
					gcse.type  = 'text/javascript';
					gcse.async = true;
					gcse.src   = 'https://cse.google.com/cse.js?cx=' + cx;
					var s = document.getElementsByTagName('script')[0];
					s.parentNode.insertBefore(gcse, s);
				})();
			</script>
			<gcse:searchresults-only></gcse:searchresults-only>
		</div>
    </main>

    {{> footer}}
