{{> head}}
    {{> top}}
    <main class="main cat {{@config.custom.layoutFrontpage}}">
        {{#each posts}}
		   {{#if @config.custom.frontAd}}
				{{#checkIf @config.custom.layoutFrontpage '==' "cat--layout-2col" }}
                    {{#checkIf @index '==' 6}}
                        <div class="u-ads cat--layout-2col__2span">
                            <h3 class="u-ads__title">{{ translate 'listing.advertisement' }}</h3>
                                {{{@config.custom.frontAdCode}}}
                        </div>
                    {{/checkIf}}
                {{/checkIf}}
		    {{/if}}
            <article class="cat__item">
                {{#if @config.custom.frontAd}}
				    {{#checkIf @config.custom.layoutFrontpage '==' "cat--layout-1col" }}
                        {{#checkIf @index '==' 5}}
                            <div class="u-ads">
                                <h3 class="u-ads__title">{{ translate 'listing.advertisement' }}</h3>
                                {{{@config.custom.frontAdCode}}}
                            </div>
                        {{/checkIf}}
                    {{/checkIf}}
                    {{#checkIf @config.custom.layoutFrontpage '==' "cat--layout-2col-1-4" }}
                        {{#checkIf @index '==' 5}}
                            <div class="u-ads">
                                <h3 class="u-ads__title">{{ translate 'listing.advertisement' }}</h3>
                                {{{@config.custom.frontAdCode}}}
                            </div>
                        {{/checkIf}}
                    {{/checkIf}}
                    {{#checkIf @config.custom.layoutFrontpage '==' "cat--layout-2col-2-1" }}
                        {{#checkIf @index '==' 5}}
                            <div class="u-ads">
                                <h3 class="u-ads__title">{{ translate 'listing.advertisement' }}</h3>
                                {{{@config.custom.frontAdCode}}}
                            </div>
                        {{/checkIf}}
                    {{/checkIf}}
                {{/if}}
                <div class="cat__item-inner">
                    {{#featuredImage}}
                        {{#if @config.custom.lazyLoad}}
                            <a href="{{../url}}" class="cat__item-image-link" style="padding-bottom: calc({{height}}/{{width}} * 100%)">
                                <img
                                    class="lazyload cat__item-image"
                                    {{#checkIf @config.custom.lazyLoadEffect '!==' "lqip" }}
                                        src="{{urlXs}}"
                                    {{else}}                                     
                                       data-src="{{url}}"
                                    {{/checkIf}}
                                    data-srcset="{{srcset.listing}}"
                                    data-sizes="auto"
                                    data-expand="300"
                                    alt="{{alt}}">
                            </a>
                        {{else}}
                            <a href="{{../url}}">
                                <img
                                    class="cat__item-image"
                                    src="{{url}}"
                                    sizes="{{sizes.listing}}"
                                    srcset="{{srcset.listing}}"
                                    alt="{{alt}}">
                            </a>
                        {{/if}}
                    {{/featuredImage}}
                    <header class="u-header">
                        <h2>
                            <a href="{{url}}">
                                {{title}}
                            </a>
                        </h2>
                        {{#checkIfAny @config.custom.frontAuthorAvatar @config.custom.frontAuthorName @config.custom.frontDate @config.custom.frontTag}}
                            <div class="u-header__meta u-small">
                                {{#if @config.custom.frontAuthorAvatar}}
                                    {{#author}}
                                        {{#if avatar}}
                                                {{#if @config.custom.lazyLoad}}
                                                    <img class="lazyload u-header__avatar" data-src="{{avatar}}" alt="{{name}}">
                                                {{else}}
                                                    <img src="{{avatar}}" alt="{{name}}" class="u-header__avatar">
                                                {{/if}}
                                        {{/if}}
                                    {{/author}}
                                {{/if}}
                                <div>
                                    {{#if @config.custom.frontAuthorName}}
                                        {{#author}}
                                            <a href="{{url}}" title="{{name}}">{{name}}</a>
                                        {{/author}}
                                    {{/if}}

                                    {{#if @config.custom.frontDate}}
                                        <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                                            {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                                {{date createdAt @config.custom.formatDate}}
                                            {{else}}
                                                {{date createdAt @config.custom.formatDateCustom}}
                                            {{/checkIf}}
                                        </time>
                                    {{/if}}
                                </div>
                                {{#if @config.custom.frontTag}}
                                    {{#if tags}}
                                        <p>
                                            {{#each tags}}
                                                {{#if @first}}
                                                    <a href="{{url}}" class="cat__item-tag u-tag {{ getTagColor slug @config.custom.tagColors}}" title="{{name}}">{{name}}</a>
                                                {{/if}}
                                            {{/each}}
                                        </p>
                                    {{/if}}
                                {{/if}}
                            </div>
                        {{/checkIfAny}}
                    </header>
                    {{#if @config.custom.frontCommentCount}}                        
                            <footer>
                                <a href="{{url}}#disqus_thread" data-disqus-identifier="{{id}}" class="u-comment-count" rel="nofollow">0</a>
                            </footer>                       
                    {{/if}}
                </div>
                {{#if @config.custom.frontAd}}
                    {{#checkIf @config.custom.layoutFrontpage '==' "cat--layout-2col-4-1" }}
                        {{#checkIf @index '==' 4}}
                            <div class="u-ads u-ads--mt">
                                <h3 class="u-ads__title">{{ translate 'listing.advertisement' }}</h3>
                                {{{@config.custom.frontAdCode}}}
                            </div>
                        {{/checkIf}}
                    {{/checkIf}}
                    {{#checkIf @config.custom.layoutFrontpage '==' "cat--layout-2col-1-2" }}
                        {{#checkIf @index '==' 3}}
                            <div class="u-ads u-ads--mt">
                                <h3 class="u-ads__title">{{ translate 'listing.advertisement' }}</h3>
                                 {{{@config.custom.frontAdCode}}}
                            </div>
                        {{/checkIf}}
                    {{/checkIf}}
                {{/if}}
            </article>
        {{/each}}
          {{#if @pagination}}
            <nav class="pagination {{#checkIf @config.custom.layoutFrontpage '!=' "cat--layout-1col" }}cat--layout-2col__2span{{/checkIf}}">
				{{> pagination}}
		   </nav>
        {{/if}}
    </main>
    {{> sidebar}}
    {{> footer}}