{{> head}}
    <div class="container">
        {{> menu menus.mainMenu}}
        <div class="content js-content">
            <header>
                <div class="top">
                    <a class="logo" href="{{@website.url}}">
                        {{#if @website.logo}}
                            <img src="{{@website.logo}}" alt="{{@website.name}}">
                        {{else}}
                            {{@website.name}}
                        {{/if}}
                    </a>
                </div>
                <div class="top top--right is-sticky">
				{{#if menus.mainMenu}}
                   <button class="menu-toggle js-menu-toggle">
					   {{ translate 'shared.menu' }}
				   </button> 
				{{/if}}
                </div>
            </header>
            <main class="main">
                <section class="main__left">
                   {{#checkIfAll @config.custom.uploadHero @config.custom.displayHeroImage}}
                    {{#if @config.custom.uploadHeroCaption}}
                        <figure class="hero">
                            <img                                
                                src="{{@config.custom.uploadHero}}"
                                {{responsiveSrcSet @config.custom.uploadHero}}
                                {{responsiveSizes}}
                                alt="{{@config.custom.uploadHeroAlt}}">
                            <figcaption class="hero__caption">
                                {{@config.custom.uploadHeroCaption}}
                            </figcaption>
                        </figure>
                    {{else}}
                        <div class="hero">
                            <img
                                src="{{@config.custom.uploadHero}}"
                                {{responsiveSrcSet @config.custom.uploadHero}}
                                {{responsiveSizes}}
                                alt="{{@config.custom.uploadHeroAlt}}">
                        </div>
                    {{/if}}
                {{/checkIfAll}}
                    <header>
                        {{{@config.custom.textHero}}}
                    </header>
                </section>
                <div class="main__right category author">
                    <div>
                        <div class="author__bio">
                            {{#author}}
                                {{#if avatar}}
                                    <img src="{{avatar}}" class="author__thumb" alt="{{name}}">
                                {{/if}}
                                <h3>{{name}}
                                    <sup>({{postsNumber}})</sup>
                                </h3>
                                {{#if description}}
                                    <p>
                                        {{description}}
                                    </p>
                                {{/if}}
                            {{/author}}
                        </div>
                        {{#each posts}}
                            <article>
                                <header>
                                    <h2>
                                        <a href="{{url}}">
                                            {{title}}
                                        </a>
                                    </h2>
                                    <p class="post__meta">
                                        <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                                            {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                                {{date createdAt @config.custom.formatDate}}
                                            {{else}}
                                                {{date createdAt @config.custom.formatDateCustom}}
                                            {{/checkIf}}
                                        </time>
                                    </p>
                                </header>
                               {{#if hasCustomExcerpt}}
                                   {{{ excerpt }}}
                               {{else}}
                                  <p>{{{ excerpt }}}</p>
                               {{/if}}
                            </article>
                        {{/each}}
                        {{> pagination}}
                    </div>
                </div>
            </main>
            {{> footer}}