{{> head}}
<div class="container">
    {{> menu menus.mainMenu}}
    <div class="content js-content">
        <header>
            <div class="top">
                <a class="logo" href="{{@website.url}}">
                    {{#if @website.logo}}
                        <img src="{{@website.logo}}" alt="{{@website.name}}">
                    {{else}}
                        {{@website.name}}
                    {{/if}}
                </a>
            </div>
            <div class="top top--right is-sticky">
		    	{{#if menus.mainMenu}}
                   <button class="menu-toggle js-menu-toggle">
					   {{ translate 'shared.menu' }}
				   </button> 
				{{/if}}
            </div>
        </header>
        <main class="main">
            {{#post}}
                <article class="post">
                    <div class="main__left">  
						
						{{#featuredImage}}
                        {{#if url}}
                            {{#checkIfAny caption credits}}
                                <figure class="hero">                                    
                                        <img
                                            src="{{url}}"
                                            sizes="{{sizes}}"
                                            srcset="{{srcset}}"
                                            alt="{{alt}}">                                    
                                    <figcaption class="hero__caption">
                                        {{caption}}
                                        {{credits}}
                                    </figcaption>
                                </figure>
                            {{else}}
                                <div class="hero">                                    
                                        <img
                                            src="{{url}}"
                                            sizes="{{sizes}}"
                                            srcset="{{srcset}}"
                                            alt="{{alt}}">                                   
                                </div>
                            {{/checkIfAny}}

                        {{else}}
                            {{#checkIfAll @config.custom.uploadHero @config.custom.displayHeroImage}}
                              {{#if @config.custom.uploadHeroCaption}}
                                <figure class="hero">
                                    <img
                                        src="{{@config.custom.uploadHero}}"
                                        {{responsiveSrcSet @config.custom.uploadHero}}
                                        {{responsiveSizes}}
                                        alt="{{@config.custom.uploadHeroAlt}}">
                                   <figcaption class="hero__caption">
                                        {{@config.custom.uploadHeroCaption}}
                                    </figcaption>
                                 </figure>   
                               {{else}}    
                                 <div class="hero">
                                    <img
                                        src="{{@config.custom.uploadHero}}"
                                        {{responsiveSrcSet @config.custom.uploadHero}}
                                        {{responsiveSizes}}
                                        alt="{{@config.custom.uploadHeroAlt}}">
                                 </div>
                               {{/if}}
                            {{/checkIfAll}}
                        {{/if}}
                    {{/featuredImage}}                   					
						
                        <header>
                            <h1>{{title}}</h1>
                            {{#checkIfAny @config.post.displayDate @config.post.displayAuthor}}
                                <p>
                                    {{#if @config.post.displayDate}}
                                         <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                                            {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                                {{date createdAt @config.custom.formatDate}}
                                            {{else}}
                                                {{date createdAt @config.custom.formatDateCustom}}
                                            {{/checkIf}}
                                        </time>
                                    {{/if}}
                                    {{#if @config.post.displayAuthor}}
                                        {{ translate 'shared.publishedBy' }}
                                        {{#author}}
                                            <a href="{{url}}" rel="author" title="{{name}}">{{name}}</a>
                                        {{/author}}
                                    {{/if}}
                                </p>
                            {{/checkIfAny}}
                        </header>
                    </div>
                    <div class="main__right">
                        <div class="post__entry">
                            {{#if @config.custom.lazyLoad}}
                               {{{lazyLoadForContentImages text @config.custom.lazyLoadEffect}}}
                            {{else}}
                               {{{text}}}
                            {{/if}}
                            {{#if @config.post.displayShareButtons}}
                                <aside class="post__share">
                                    {{> share-buttons}}
                                </aside>
                            {{/if}}
                            {{#checkIfAny @config.post.displayTags @config.post.displayAuthorBio}}
                                <footer>
                                    {{#if @config.post.displayTags}}
                                        {{#if tags}}
                                            <ul class="post__tag">
                                                {{#each tags}}
                                                    <li>
                                                        <a href="{{url}}">{{name}}</a>
                                                    </li>
                                                {{/each}}
                                            </ul>
                                        {{/if}}
                                    {{/if}}
                                    {{#if @config.post.displayAuthorBio}}
                                        {{#author}}
                                            <div class="post__bio">
                                                {{#if avatar}}
                                                    <img src="{{avatar}}" alt="{{name}}">
                                                {{/if}}
                                                {{#if name}}
                                                    <h3>
                                                        <a href="{{url}}" title="{{name}}">{{name}}</a>
                                                    </h3>
                                                {{/if}}
                                                {{#if description}}
                                                    <p>{{description}}
                                                    </p>
                                                {{/if}}
                                            </div>
                                        {{/author}}
                                    {{/if}}
                                </footer>
                            {{/checkIfAny}}
                        </div>
                    </div>
                </article>
            {{/post}}
            {{#checkIfAny @config.post.displayComments @customHTML.afterPost}}
                <div class="tank">
                    {{#if @config.post.displayComments}}
                        {{> disqus}}
                    {{/if}}
                    {{#if @customHTML.afterPost}}
                        <div class="banner banner--after-post">
                            {{{@customHTML.afterPost}}}
                        </div>
                    {{/if}}
                </div>
            {{/checkIfAny}}

        </main>
        {{> footer}}
