{{> head}}
    {{> top}}
    <main>
        <div class="hero u-wrapper">
            {{{@config.custom.textHero}}}
        </div>
        {{#checkIfAll @config.custom.filters tags}}
            <nav class="filter">
                <ul>
                    {{#if @config.custom.filtersLabel}}
                        <li>
                            <strong>{{@config.custom.filtersLabel}}</strong>
                        </li>
                    {{/if}}
                    {{#if @config.custom.filtersAllPhrase}}
                        <li>
                            <button class="filter__item filter__item--all" data-filter="*">{{@config.custom.filtersAllPhrase}}</button>
                        </li>
                    {{/if}}
                    {{#each tags}}
                        <li>
                            <button class="filter__item" data-filter=".{{slug}}">{{name}}</button>
                        </li>
                    {{/each}}
                </ul>
            </nav>
        {{/checkIfAll}}
        {{#checkIf @config.custom.cardsLayout '==' "true" }}
            <div
                class="layout layout{{@config.custom.layoutFrontpage}}">
                {{#each posts}}
                    <div
                        class="card{{#isFeatured}} card--compact card--featured{{/isFeatured}} {{#each tags}}{{slug}} {{/each}}">
                        <a href="{{url}}">
                            {{#featuredImage}}
                                {{#if @config.custom.lazyLoad}}
                                    <div class="card__header">
                                        <img 
                                            class="lazyload"
                                            {{#checkIf @config.custom.lazyLoadEffect '!==' "lqip" }}
                                                src="{{urlXs}}" 
                                            {{else}}
                                                data-src="{{url}}"  
                                            {{/checkIf}}
                                            data-srcset="{{srcset.cards}}"	
                                            data-sizes="auto"  
											width="{{width}}"
											height="{{height}}"
                                            alt="{{alt}}">
                                    </div>
                                {{else}}
                                    <header class="card__header">
                                        <img
                                            src="{{url}}"
                                            sizes="{{sizes.cards}}"
                                            srcset="{{srcset.cards}}"
                                            alt="{{alt}}">
                                    </header>
                                {{/if}}
                            {{/featuredImage}}
                            <div class="card__body card__body--compact">
                                <div class="card__body__wrap card__body__wrap--compact">
                                    <h2>
                                        {{title}}
                                    </h2>
                                    <p>
                                         <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                                            {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                                {{date createdAt @config.custom.formatDate}}
                                            {{else}}
                                                {{date createdAt @config.custom.formatDateCustom}}
                                            {{/checkIf}}
                                        </time>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                {{/each}}
            </div>
        {{else}}
            <div
                class="layout layout{{@config.custom.layoutFrontpage}}">
                {{#each posts}}
                    <div
                        class="card{{#isFeatured}} card--featured{{/isFeatured}} {{#each tags}}{{slug}} {{/each}}">
                        <a href="{{url}}">
                            {{#featuredImage}}
                                {{#if @config.custom.lazyLoad}}
                                    <div class="card__header">
                                        <img 
                                            class="lazyload"
                                            {{#checkIf @config.custom.lazyLoadEffect '!==' "lqip" }}
                                                src="{{urlXs}}" 
                                            {{else}}
                                                data-src="{{url}}"  
                                            {{/checkIf}}
                                            data-srcset="{{srcset.cards}}"	
                                            data-sizes="auto"  
											width="{{width}}"
											height="{{height}}"
                                            alt="{{alt}}">
                                    </div>
                                {{else}}
                                    <header class="card__header">
                                        <img
                                            src="{{url}}"
                                            sizes="{{sizes.cards}}"
                                            srcset="{{srcset.cards}}"
                                            alt="{{alt}}">
                                    </header>
                                {{/if}}
                            {{/featuredImage}}
                            <div class="card__body">
                                <div class="card__body__wrap">
                                    <h2>
                                        {{title}}
                                    </h2>
                                    <p>
                                         <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                                            {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                                {{date createdAt @config.custom.formatDate}}
                                            {{else}}
                                                {{date createdAt @config.custom.formatDateCustom}}
                                            {{/checkIf}}
                                        </time>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                {{/each}}
            </div>
        {{/checkIf}}
        {{> pagination}}
    </main>
    {{> footer}}
