{{> head}}
    {{> top}}
    <main>
        {{#if @customHTML.beforePost}}
            <div class="banner banner--before-post">
                {{{@customHTML.beforePost }}}
            </div>
        {{/if}}
        {{#post}}
            <article class="post {{#isFeatured}}post--featured{{/isFeatured}} u-wrapper">
                <header class="hero">
                    {{#checkIfAny @config.post.displayAuthor @config.post.displayDate}}
                        <p class="post__meta">
                            {{#if @config.post.displayAuthor}}
                                {{#author}}
                                    {{ translate 'post.publishedBy' }}
                                    <a href="{{url}}" rel="author" title="{{name}}">{{name}}</a>
                                {{/author}}
                            {{/if}}
                            {{#if @config.post.displayDate}}
                                {{ translate 'post.publishedOn' }}
                                <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                                    {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                        {{date createdAt @config.custom.formatDate}}
                                    {{else}}
                                        {{date createdAt @config.custom.formatDateCustom}}
                                    {{/checkIf}}
                                </time>
                            {{/if}}
                        </p>
                    {{/checkIfAny}}
                    <h1 class="post__title">{{title}}</h1>
                </header>
                {{#featuredImage}}
                    {{#if url}}
                        {{#checkIfAny caption credits}}
                            <figure class="post__featured-image {{@config.post.featuredImageWidth}}">
                                {{#if @config.custom.lazyLoad}}
                                     <img 
                                            class="lazyload"
                                            {{#checkIf @config.custom.lazyLoadEffect '!==' "lqip" }}
                                                src="{{urlXs}}" 
                                            {{else}}
                                                data-src="{{url}}"  
                                            {{/checkIf}}
                                            data-srcset="{{srcset.post}}"	
                                            data-sizes="auto"  
											width="{{width}}"
											height="{{height}}"
                                            alt="{{alt}}">
                                {{else}}
                                    <img
                                        src="{{url}}"
                                        sizes="{{sizes.post}}"
                                        srcset="{{srcset.post}}"
                                        alt="{{alt}}">
                                {{/if}}
                                <figcaption>{{caption}}
                                    {{credits}}</figcaption>
                            </figure>
                        {{else}}
                            <div class="post__featured-image {{@config.post.featuredImageWidth}}">
                                {{#if @config.custom.lazyLoad}}
                                    <img                                      
                                        class="lazyload"
                                            {{#checkIf @config.custom.lazyLoadEffect '!==' "lqip" }}
                                                src="{{urlXs}}" 
                                            {{else}}
                                                data-src="{{url}}"  
                                            {{/checkIf}}
                                            data-srcset="{{srcset.post}}"	
                                            data-sizes="auto"  
											width="{{width}}"
											height="{{height}}"
                                            alt="{{alt}}">
                                {{else}}
                                    <img
                                        src="{{url}}"
                                        sizes="{{sizes.post}}"
                                        srcset="{{srcset.post}}"
                                        alt="{{alt}}">
                                {{/if}}
                            </div>
                        {{/checkIfAny}}
                    {{/if}}
                {{/featuredImage}}
                <div class="post__entry">
                     {{#if @config.custom.lazyLoad}}
                         {{{lazyLoadForContentImages text @config.custom.lazyLoadEffect}}}
                    {{else}}
                        {{{text}}}
                    {{/if}}
                </div>
                {{#checkIfAny @config.post.displayLastUpdatedDate @config.post.displayTags @config.post.displayShareButtons @config.post.displayPostNavigation @config.post.displayAuthorBio}}
                    <footer class="post__footer">
                        {{#if @config.post.displayLastUpdatedDate}}
                            {{#if modifiedAt}}
                                <div class="post__last-updated">
                                    {{ translate 'post.lastUpdatedDate' }}

                                    {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                        {{date modifiedAt @config.custom.formatDate}}
                                    {{else}}
                                        {{date modifiedAt @config.custom.formatDateCustom}}
                                    {{/checkIf}}

                                </div>
                            {{/if}}
                        {{/if}}

                        {{#checkIfAny @config.post.displayTags @config.post.displayShareButtons}}
                            <div class="post__footer__col">
                                {{#if @config.post.displayTags}}
                                    {{#if tags}}
                                        <ul class="post__tag">
                                            {{#each tags}}
                                                <li>
                                                    <a href="{{url}}">{{name}}</a>
                                                </li>
                                            {{/each}}
                                        </ul>
                                    {{/if}}
                                {{/if}}
                                {{#if @config.post.displayShareButtons}}
                                    <div class="post__share">
                                        {{> share-buttons}}
                                    </div>
                                {{/if}}
                            </div>
                        {{/checkIfAny}}

                        {{#if @config.post.displayPostNavigation}}
                            {{#checkIfAny ../previousPost ../nextPost}}
                                <nav class="post__nav">
                                    {{#../previousPost}}
                                        <div class="post__nav__prev">
                                            {{ translate 'post.previousPost' }}
                                            <h5>
                                                <a href="{{url}}" class="inverse" rel="prev">
                                                    {{title}}
                                                </a>
                                            </h5>
                                        </div>
                                    {{/../previousPost}}
                                    {{#../nextPost}}
                                        <div class="post__nav__next">
                                            {{ translate 'post.nextPost' }}
                                            <h5>
                                                <a href="{{url}}" class="inverse" rel="next">
                                                    {{title}}
                                                </a>
                                            </h5>
                                        </div>
                                    {{/../nextPost}}
                                </nav>
                            {{/checkIfAny}}
                        {{/if}}

                        {{#if @config.post.displayAuthorBio}}
                            {{#author}}
                                <div class="post__bio">
                                    {{#if avatar}}
                                        {{#if @config.custom.lazyLoad}}
                                            <img class="lazyload" data-src="{{avatar}}" alt="{{name}}">
                                        {{else}}
                                            <img src="{{avatar}}" alt="{{name}}">
                                        {{/if}}
                                    {{/if}}
                                    <div>
                                        {{#if name}}
                                            <h3>
                                                <a href="{{url}}" class="inverse" title="{{name}}">{{name}}</a>
                                            </h3>
                                        {{/if}}

                                        {{#if description}}
                                            <p>{{description}}</p>
                                        {{/if}}
                                    </div>
                                </div>
                            {{/author}}
                        {{/if}}

                        {{#if @config.post.displayRelatedPosts}}
                            {{#if ../relatedPosts}}
                                <div class="post__related">
                                    <h3 class="u-h5">
                                        {{ translate 'post.relatedPosts' }}
                                    </h3>
                                    <div class="post__related__wrap">
                                        {{#each ../relatedPosts}}
                                            <figure>
                                                {{#featuredImage}}
                                                    {{#if url}}
                                                        {{#if @config.custom.lazyLoad}}
                                                            <a href="{{../url}}">
                                                                <img
                                                                    class="lazyload"
                                                                    {{#checkIf @config.custom.lazyLoadEffect '!==' "lqip" }}
                                                                        src="{{urlXs}}"
                                                                    {{else}}
                                                                        data-src="{{urlXs}}"
                                                                    {{/checkIf}}
                                                                    data-srcset="{{urlXs}}"
                                                                    data-expand="300"
                                                                    alt="{{alt}}">
                                                            </a>
                                                        {{else}}
                                                            <a href="{{../url}}">
                                                                <img src="{{urlXs}}" alt="{{alt}}">
                                                            </a>
                                                        {{/if}}
                                                    {{/if}}
                                                {{/featuredImage}}
                                                <figcaption>
                                                    <h4>
                                                        <a href="{{url}}" class="inverse">{{title}}</a>
                                                    </h4>
                                                    <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                                                        {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                                            {{date createdAt @config.custom.formatDate}}
                                                        {{else}}
                                                            {{date createdAt @config.custom.formatDateCustom}}
                                                        {{/checkIf}}
                                                    </time>
                                                </figcaption>
                                            </figure>
                                        {{/each}}
                                    </div>
                                </div>
                            {{/if}}
                        {{/if}}
                    </footer>
                {{/checkIfAny}}
            </article>
        {{/post}}
        {{#if @config.post.displayComments}}
            <div class="comments u-wrapper">
                <h3 class="u-h5">
                    {{ translate 'post.comments' }}
                </h3>
                {{> disqus}}
            </div>
        {{/if}}
        {{#if @customHTML.afterPost}}
            <div class="banner banner--after-post">
                {{{@customHTML.afterPost}}}
            </div>
        {{/if}}
    </main>
    {{> footer}}