{{#if @pagination}}
   <nav class="pagination {{@website.postsOrdering}}">
      {{#checkIf @website.postsOrdering '==' "desc"}}
         {{#if @pagination.nextPage}}
            {{#checkIf @website.postsOrdering '==' "desc"}}
               <a
                  href="{{@pagination.nextPageUrl}}"
                  class="pagination__prev"
                  aria-label="{{ translate 'partials.pagination.prev' }}">
                  <svg>
                     <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#arrow-prev"/>
                  </svg>
               </a>
            {{else}}
               <a
                  href="{{@pagination.nextPageUrl}}"
                  class="pagination__next"
                  aria-label="{{ translate 'partials.pagination.next' }}">
                  <svg>
                     <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#arrow-next"/>
                  </svg>
               </a>
            {{/checkIf}}
         {{/if}}
         {{#if @pagination.previousPage}}
            {{#checkIf @website.postsOrdering '==' "desc"}}
               <a
                  href="{{@pagination.previousPageUrl}}"
                  class="pagination__next"
                  aria-label="{{ translate 'partials.pagination.next' }}">
                  <svg>
                     <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#arrow-next"/>
                  </svg>
               </a>
            {{else}}
               <a
                  href="{{@pagination.previousPageUrl}}"
                  class="pagination__prev"
                  aria-label="{{ translate 'partials.pagination.prev' }}">
                  <svg>
                     <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#arrow-prev"/>
                  </svg>
               </a>
            {{/checkIf}}
         {{/if}}
      {{else}}

         {{#if @pagination.previousPage}}
            {{#checkIf @website.postsOrdering '==' "desc"}}
               <a
                  href="{{@pagination.previousPageUrl}}"
                  class="pagination__next"
                  aria-label="{{ translate 'partials.pagination.next' }}">
                  <svg>
                     <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#arrow-next"/>
                  </svg>
               </a>
            {{else}}
               <a
                  href="{{@pagination.previousPageUrl}}"
                  class="pagination__prev"
                  aria-label="{{ translate 'partials.pagination.prev' }}">
                  <svg>
                     <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#arrow-prev"/>
                  </svg>
               </a>
            {{/checkIf}}
         {{/if}}

         {{#if @pagination.nextPage}}
            {{#checkIf @website.postsOrdering '==' "desc"}}
               <a
                  href="{{@pagination.nextPageUrl}}"
                  class="pagination__prev"
                  aria-label="{{ translate 'partials.pagination.prev' }}">
                  <svg>
                     <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#arrow-prev"/>
                  </svg>
               </a>
            {{else}}
               <a
                  href="{{@pagination.nextPageUrl}}"
                  class="pagination__next"
                  aria-label="{{ translate 'partials.pagination.next' }}">
                  <svg>
                     <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#arrow-next"/>
                  </svg>
               </a>
            {{/checkIf}}
         {{/if}}
      {{/checkIf}}
   </nav>
{{/if}}
