{{> head}}
{{> top}}
<main>
    <section class="hero">
        {{#if @config.custom.uploadHero}}
            {{#if @config.custom.uploadHeroCaption}}
                <figure class="hero__wrap">                    
                     <img
                            src="{{@config.custom.uploadHero}}"
                            {{responsiveSrcSet @config.custom.uploadHero}}
                            {{responsiveSizes}}
                            alt="{{@config.custom.uploadHeroAlt}}">                    
                    <figcaption>
                        {{@config.custom.uploadHeroCaption}}
                    </figcaption>
                </figure>
            {{else}}
                <div class="hero__wrap">                   
                        <img
                            src="{{@config.custom.uploadHero}}"
                            {{responsiveSrcSet @config.custom.uploadHero}}
                            {{responsiveSizes}}
                            alt="{{@config.custom.uploadHeroAlt}}">                    
                </div>
            {{/if}}
        {{/if}}
        {{#if @config.custom.textHero}}
            <header class="hero__text">
                {{{@config.custom.textHero}}}
            </header>
        {{/if}}
    </section>
    <div class="category">
        {{#each posts}}
            <article>
                <header>
                    {{#checkIfAny @config.custom.frontAvatar @config.custom.frontAuthor @config.custom.frontDate}}
                        <p class="category__post-meta">
                            {{#author}}
                                {{#if @config.custom.frontAvatar}}
                                    {{#if avatar}}
                                        <img src="{{avatar}}" class="post__author-thumb" alt="{{name}}">
                                    {{/if}}
                                {{/if}}
                                {{#if @config.custom.frontAuthor}}
                                    <a href="{{url}}" class="inverse" title="{{name}}">{{name}}</a>,
                                {{/if}}
                            {{/author}}
                            {{#if @config.custom.frontDate}}
                                <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                                    {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                        {{date createdAt @config.custom.formatDate}}
                                    {{else}}
                                        {{date createdAt @config.custom.formatDateCustom}}
                                    {{/checkIf}}
                                </time>
                            {{/if}}
                        </p>
                    {{/checkIfAny}}
                    <h2>
                        <a href="{{url}}" class="inverse">
                            {{title}}
                        </a>
                    </h2>
                </header>
                {{#if hasCustomExcerpt}}
                   {{{ excerpt }}}
                {{else}}
                   <p>{{{ excerpt }}}</p>
                {{/if}}
                {{#if @config.custom.frontReadMore}}
                    <a href="{{url}}" class="u-readmore">
                        {{ translate 'post.readMore' }}</a>
                {{/if}}
            </article>
        {{/each}}
        {{> pagination}}
    </div>
</main>
{{> footer}}
