{{> head}}
{{> top}}
{{#checkIf @config.custom.frontSource '==' "post" }}
   {{> frontpage-post}}
{{else}}
   <main>
      <div class="hero">
         {{#if @config.custom.uploadHero}}
            <figure class="hero__image hero__image--overlay">

               <img
                  src="{{@config.custom.uploadHero}}"
                  {{#if @config.site.responsiveImages}}
                     {{responsiveImageAttributes @config.custom.uploadHero}}
                  {{/if}}
                  {{ lazyload "eager" }}
                  {{imageDimensions @config.custom.uploadHero}}
                  alt="{{@config.custom.uploadHeroAlt}}">

               {{#if @config.custom.uploadHeroCaption}}
                  <figcaption>
                     {{@config.custom.uploadHeroCaption}}
                  </figcaption>
               {{/if}}

            </figure>
         {{/if}}
         {{#if @config.custom.textHero}}
            <header class="hero__content">
               <div class="wrapper">
                  {{{@config.custom.textHero}}}
                  {{#if @config.custom.siteOwner}}
                     {{#siteOwner}}
                        <div class="post__meta post__meta--author">
                           {{#if avatar}}
                              <img 
                                 src="{{avatarImage.url}}" 
                                 {{ lazyload "eager" }}
                                 height="{{avatarImage.height}}"
                                 width="{{avatarImage.width}}"
                                 class="post__author-thumb" 
                                 alt="{{avatarImage.alt}}">
                           {{/if}}
                           <a href="{{url}}" class="feed__author">{{name}}</a>
                        </div>
                     {{/siteOwner}}
                  {{/if}}
               </div>
            </header>
         {{/if}}
      </div>
      <div class="feed">
         {{@config.custom.fontName}}
         {{#each posts}}
            <article class="feed__item">
               <header class="wrapper">
                  {{#checkIfAny @config.custom.frontAvatar @config.custom.frontAuthor @config.custom.frontDate}}
                     <div class="feed__meta">
                        {{#author}}
                           {{#if @config.custom.frontAvatar}}
                              {{#if avatar}}
                                 <img
                                    src="{{avatarImage.url}}" 
                                    {{ lazyload "lazy" }}
                                    height="{{avatarImage.height}}"
                                    width="{{avatarImage.width}}"      
                                    class="post__author-thumb"
                                    alt="{{avatarImage.alt}}">
                              {{/if}}
                           {{/if}}
                           {{#if @config.custom.frontAuthor}}
                              <a href="{{url}}" class="feed__author">{{name}}</a>
                           {{/if}}
                        {{/author}}
                        {{#if @config.custom.frontDate}}
                           <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}" class="feed__date">
                              {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                 {{date createdAt @config.custom.formatDate}}
                              {{else}}
                                 {{date createdAt @config.custom.formatDateCustom}}
                              {{/checkIf}}
                           </time>
                        {{/if}}
                     </div>
                  {{/checkIfAny}}
                  <h2>
                     <a href="{{url}}">
                        {{title}}
                     </a>
                  </h2>
               </header>
               {{#if @config.custom.frontFeaturedImage}}
                  {{#featuredImage}}
                     {{#if url}}
                        <div class="feed__image">
                           <a href="{{../url}}">
                              <img
                                 src="{{url}}"
                                 {{#if @config.site.responsiveImages}}
                                    {{responsiveImageAttributes 'featuredImage' srcset.post sizes.post}}
                                 {{/if}}
                                 {{ lazyload "lazy" }}
                                 height="{{height}}"
                                 width="{{width}}"
                                 alt="{{alt}}">
                           </a>
                        </div>
                     {{/if}}
                  {{/featuredImage}}
               {{/if}}
               <div class="wrapper">
                  {{#if hasCustomExcerpt}}
                     {{{ excerpt }}}
                  {{else}}
                     <p>{{{ excerpt }}}</p>
                  {{/if}}
                  {{#if @config.custom.frontReadMore}}
                     <a href="{{url}}" class="readmore feed__readmore">
                        {{ translate 'post.readMore' }}</a>
                  {{/if}}
               </div>
            </article>
         {{/each}}
         {{> pagination}}
      </div>
   </main>
{{/checkIf}}
{{> footer}}
