{{> head}}
{{> top}}
<main>
   {{#post}}
      <article class="post">
         <div class="hero">

            {{#featuredImage}}
               {{#if url}}
                  {{#checkIfAny caption credits}}
                     <figure class="hero__wrap">
                        <img
                           src="{{url}}"
                           sizes="{{sizes.post}}"
                           srcset="{{srcset.post}}"
                           alt="{{alt}}">
                        <figcaption>
                           {{caption}}
                           {{credits}}
                        </figcaption>
                     </figure>
                  {{else}}
                     <div class="hero__wrap">
                        <img
                           src="{{url}}"
                           sizes="{{sizes.post}}"
                           srcset="{{srcset.post}}"
                           alt="{{alt}}">
                     </div>
                  {{/checkIfAny}}
               {{else}}
                  {{#checkIfAll @config.custom.uploadHero @config.custom.displayHeroImage}}
                     {{#if @config.custom.uploadHeroCaption}}
                        <figure class="hero__wrap">
                           <img
                              src="{{@config.custom.uploadHero}}"
                              {{responsiveSrcSet @config.custom.uploadHero}}
                              {{responsiveSizes}}
                              alt="{{@config.custom.uploadHeroAlt}}">
                           <figcaption>
                              {{@config.custom.uploadHeroCaption}}
                           </figcaption>
                        </figure>
                     {{else}}
                        <div class="hero__wrap">
                           <img
                              src="{{@config.custom.uploadHero}}"
                              {{responsiveSrcSet @config.custom.uploadHero}}
                              {{responsiveSizes}}
                              alt="{{@config.custom.uploadHeroAlt}}">
                        </div>
                     {{/if}}
                  {{/checkIfAll}}
               {{/if}}
            {{/featuredImage}}

            <header class="hero__text">
               <h1>
                  {{title}}
               </h1>
               {{#checkIfAny @config.post.displayDate @config.post.displayAuthor}}
                  <p class="post__meta">
                     {{#if @config.post.displayDate}}
                        <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                           {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                              {{date createdAt @config.custom.formatDate}}
                           {{else}}
                              {{date createdAt @config.custom.formatDateCustom}}
                           {{/checkIf}}
                        </time>
                     {{/if}}
                     {{#if @config.post.displayAuthor}}
                        {{ translate 'post.publishedBy' }}
                        {{#author}}
                           <a href="{{url}}" rel="author" title="{{name}}">{{name}}</a>
                        {{/author}}
                     {{/if}}
                  </p>
               {{/checkIfAny}}
            </header>
         </div>
         <div class="post__entry">
            {{#if @config.custom.lazyLoad}}
               {{{lazyLoadForContentImages text @config.custom.lazyLoadEffect}}}
            {{else}}
               {{{text}}}
            {{/if}}
            {{#if @config.post.displayLastUpdatedDate}}
               {{#if modifiedAt}}
                  <p class="post__last-updated">
                     {{ translate 'post.lastUpdatedDate' }}

                     {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                        {{date modifiedAt @config.custom.formatDate}}
                     {{else}}
                        {{date modifiedAt @config.custom.formatDateCustom}}
                     {{/checkIf}}
                  </p>

               {{/if}}
            {{/if}}
         </div>
         {{#if @config.post.displayShareButtons}}
            <aside class="post__share">
               {{> share-buttons}}
            </aside>
         {{/if}}
         {{#checkIfAny @config.post.displayTags @config.post.displayAuthorBio @config.post.displayPostNavigation @config.post.displayRelatedPosts}}
            <footer class="post__footer">
               {{#if @config.post.displayTags}}
                  {{#if tags}}
                     <ul class="post__tag">
                        {{#each tags}}
                           <li>
                              <a href="{{url}}">{{name}}</a>
                           </li>
                        {{/each}}
                     </ul>
                  {{/if}}
               {{/if}}

               {{#if @config.post.displayAuthorBio}}
                  {{#author}}
                     <div class="post__bio">
                        {{#if avatar}}
                           <img src="{{avatar}}" alt="{{name}}">
                        {{/if}}
                        {{#if name}}
                           <h3>
                              <a href="{{url}}" class="inverse" title="{{name}}">{{name}}</a>
                           </h3>
                        {{/if}}
                        {{#if description}}
                           <p>{{description}}
                           </p>
                        {{/if}}
                     </div>
                  {{/author}}
               {{/if}}

               {{#if @config.post.displayPostNavigation}}
                  {{#checkIfAny ../previousPost ../nextPost}}
                     <nav class="post__nav">
                        {{#../previousPost}}
                           <div class="post__nav__prev">
                              {{ translate 'post.previousPost' }}
                              <h5>
                                 <a href="{{url}}" class="inverse" rel="prev">
                                    {{title}}
                                 </a>
                              </h5>
                           </div>
                        {{/../previousPost}}
                        {{#../nextPost}}
                           <div class="post__nav__next">
                              {{ translate 'post.nextPost' }}
                              <h5>
                                 <a href="{{url}}" class="inverse" rel="next">
                                    {{title}}
                                 </a>
                              </h5>
                           </div>
                        {{/../nextPost}}
                     </nav>
                  {{/checkIfAny}}
               {{/if}}

               {{#if @config.post.displayRelatedPosts}}
                  {{#if ../relatedPosts}}
                     <div class="post__related">
                        <h3>
                           {{ translate 'post.relatedPosts' }}
                        </h3>
                        <div class="post__related__wrap">
                           {{#each ../relatedPosts}}
                              <figure>
                                 {{#featuredImage}}
                                    {{#if url}}
                                       {{#if @config.custom.lazyLoad}}
                                          <a href="{{../url}}">
                                             <img
                                                class="lazyload"
                                                {{#checkIf @config.custom.lazyLoadEffect '!==' "lqip" }}
                                                src="{{urlXs}}"
                                                {{else}}
                                                data-src="{{urlXs}}"
                                                {{/checkIf}}
                                                data-srcset="{{urlXs}}"
                                                data-expand="300"
                                                alt="{{alt}}">
                                          </a>
                                       {{else}}
                                          <a href="{{../url}}">
                                             <img src="{{urlXs}}" alt="{{alt}}">
                                          </a>
                                       {{/if}}
                                    {{/if}}
                                 {{/featuredImage}}
                                 <figcaption>
                                    <h4>
                                       <a href="{{url}}" class="inverse">{{title}}</a>
                                    </h4>
                                    <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                                       {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                          {{date createdAt @config.custom.formatDate}}
                                       {{else}}
                                          {{date createdAt @config.custom.formatDateCustom}}
                                       {{/checkIf}}
                                    </time>
                                 </figcaption>
                              </figure>
                           {{/each}}
                        </div>
                     </div>
                  {{/if}}
               {{/if}}
            </footer>
         {{/checkIfAny}}
      </article>
   {{/post}}
   {{#if @config.post.displayComments}}
      <h3>
         {{ translate 'post.comments' }}
      </h3>
      {{> disqus}}
   {{/if}}
   {{#if @customHTML.afterPost}}
      <div class="banner banner--after-post">
         {{{@customHTML.afterPost}}}
      </div>
   {{/if}}
</main>
{{> footer}}
