{{> head}}
{{> top}}
<main>
   <div class="hero">
      {{#checkIfAll @config.custom.uploadHero @config.custom.displayHeroImage}}
         {{#if @config.custom.uploadHeroCaption}}
            {{#if @config.custom.lazyLoad}}
               <figure class="hero__image">
                  <img
                     class="hero__image-img lazyload"
                     {{#checkIf @config.custom.lazyLoadEffect '!==' "fadein" }}
                        src="{{@config.custom.uploadHero}}"
                     {{else}}
                        data-src="{{@config.custom.uploadHero}}"
                     {{/checkIf}}
                     {{responsiveSrcSet @config.custom.uploadHero}}
                     {{responsiveSizes}}
                     data-sizes="auto"
                     alt="{{@config.custom.uploadHeroAlt}}">
                  <figcaption>
                     {{@config.custom.uploadHeroCaption}}
                  </figcaption>
               </figure>
            {{else}}
               <figure class="hero__image hero__image--overlay">
                  <img
                     src="{{@config.custom.uploadHero}}"
                     {{responsiveSrcSet @config.custom.uploadHero}}
                     {{responsiveSizes}}
                     alt="{{@config.custom.uploadHeroAlt}}">
                  <figcaption>
                     {{@config.custom.uploadHeroCaption}}
                  </figcaption>
               </figure>
            {{/if}}
         {{else}}
            {{#if @config.custom.lazyLoad}}
               <div class="hero__image">
                  <img
                     class="hero__image-img  lazyload"
                     {{#checkIf @config.custom.lazyLoadEffect '!==' "fadein" }}
                        src="{{@config.custom.uploadHero}}"
                     {{else}}
                        data-src="{{@config.custom.uploadHero}}"
                     {{/checkIf}}
                     {{responsiveSrcSet @config.custom.uploadHero}}
                     {{responsiveSizes}}
                     data-sizes="auto"
                     alt="{{@config.custom.uploadHeroAlt}}">
               </div>
            {{else}}
               <div class="hero__image hero__image--overlay">
                  <img
                     src="{{@config.custom.uploadHero}}"
                     {{responsiveSrcSet @config.custom.uploadHero}}
                     {{responsiveSizes}}
                     alt="{{@config.custom.uploadHeroAlt}}">
               </div>
            {{/if}}
         {{/if}}
      {{/checkIfAll}}
      <header class="hero__content">
         <div class="wrapper">
            {{#tag}}
               <h1>
                  {{name}}
                  <sup>({{postsNumber}})</sup>
               </h1>
               {{#if description}}
                  <p>
                     {{description}}
                  </p>
               {{/if}}
            {{/tag}}
         </div>
      </header>
   </div>
   <div class="feed">
      {{#each posts}}
         <article class="feed__item">
            <header class="wrapper">
               {{#checkIfAny @config.custom.tagAvatar @config.custom.tagAuthor @config.custom.tagDate}}
                  <div class="feed__meta">
                     {{#author}}
                        {{#if @config.custom.tagAvatar}}
                           {{#if avatar}}
                              {{#if @config.custom.lazyLoad}}
                                 <img class="lazyload post__author-thumb" data-src="{{avatar}}" alt="{{name}}">
                              {{else}}
                                 <img src="{{avatar}}" alt="{{name}}" class="post__author-thumb">
                              {{/if}}
                           {{/if}}
                        {{/if}}
                        {{#if @config.custom.tagAuthor}}
                           <a href="{{url}}" class="feed__author invert">{{name}}</a>
                        {{/if}}
                     {{/author}}
                     {{#if @config.custom.tagDate}}
                        <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}" class="feed__date">
                           {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                              {{date createdAt @config.custom.formatDate}}
                           {{else}}
                              {{date createdAt @config.custom.formatDateCustom}}
                           {{/checkIf}}
                        </time>
                     {{/if}}
                  </div>
               {{/checkIfAny}}
               <h2>
                  <a href="{{url}}" class="invert">
                     {{title}}
                  </a>
               </h2>
            </header>
            {{#if @config.custom.tagFeaturedImage}}
               {{#featuredImage}}
                  {{#if url}}
                     {{#if @config.custom.lazyLoad}}
                        <div class="feed__image">
                           <img
                              class="lazyload"
                              {{#checkIf @config.custom.lazyLoadEffect '!==' "fadein" }}
                                 src="{{urlXs}}"
                              {{else}}
                                 data-src="{{url}}"
                              {{/checkIf}}
                              data-srcset="{{srcset.post}}"
                              data-aspectratio="{{ math width '/' height }}"
                              data-sizes="auto"
                              height="{{height}}"
                              width="{{width}}"
                              alt="{{alt}}">
                        </div>
                     {{else}}
                        <div class="feed__image">
                           <img
                              src="{{url}}"
                              sizes="{{sizes.post}}"
                              srcset="{{srcset.post}}"
                              alt="{{alt}}">
                        </div>
                     {{/if}}
                  {{/if}}
               {{/featuredImage}}
            {{/if}}
            <div class="wrapper">
               {{#if hasCustomExcerpt}}
                  {{{ excerpt }}}
               {{else}}
                  <p>{{{ excerpt }}}</p>
               {{/if}}
               {{#if @config.custom.tagReadMore}}
                  <a href="{{url}}" class="readmore feed__readmore invert">
                     {{ translate 'post.readMore' }}</a>
               {{/if}}
            </div>
         </article>
      {{/each}}
      {{> pagination}}
   </div>
</main>
{{> footer}}
