{{> head}}
{{> top}}
<main class="page page--tags">
   <div class="hero">
      {{#checkIfAll @config.custom.uploadHero @config.custom.displayHeroImage}}
         <figure class="hero__image hero__image--overlay">
            <img
               src="{{@config.custom.uploadHero}}"
               {{#if @config.site.responsiveImages}}
               {{responsiveImageAttributes @config.custom.uploadHero}}
               {{/if}}
               {{ lazyload "eager" }}
               {{imageDimensions @config.custom.uploadHero}}
               alt="{{@config.custom.uploadHeroAlt}}">

            {{#if @config.custom.uploadHeroCaption}}
               <figcaption>
                  {{@config.custom.uploadHeroCaption}}
               </figcaption>
            {{/if}}
         </figure>
      {{/checkIfAll}}
      <header class="hero__content">
         <div class="wrapper">
            <h1>
               {{ translate 'tags.tagsPageTitle' }} 
               <sup>({{tagsNumber}})</sup>
            </h1>
            <p>
               {{ translate 'tags.description' }}
            </p>
         </div>
      </header>
   </div>
   <div class="wrapper">
      <ul class="feed feed--grid">
         {{#each tags}}
            <li>
               <h2>
                  <a href="{{url}}">
                     {{name}}
                  </a>
                  {{#if @config.custom.tagsPostCount}}
                     <sup>({{postsNumber}})</sup>
                  {{/if}}
               </h2>
               {{#checkIfAll @config.custom.tagsDescription  description}}
                  <p>
                     {{description}}
                  </p>
               {{/checkIfAll}}
            </li>
         {{/each}}
      </ul>
   </div>
</main>
{{> footer}}
