<footer class="footer">
    {{#if @config.custom.newsletter}}
        <div class="footer__newsletter newsletter">
            <p class="newsletter__note">{{ translate 'newsletter.description' }}</p>
            {{{@config.custom.newsletterFormCode}}}
        </div>
    {{/if}}

    {{#if @config.custom.footerLogo}}
        <a class="logo" href="{{@website.url}}">
            {{#if @website.logo}}
                <img src="{{@website.logo}}" alt="{{@website.name}}">
            {{else}}
                {{@website.name}}
            {{/if}}
        </a>
    {{/if}}

    {{#if @config.custom.footerMenu}}
        {{> menu-footer menus.footerMenu}}
    {{/if}}

    {{#if @config.custom.socialButtons}}
        <div class="footer__social">
            {{#if @config.custom.socialFacebook}}
                <a href="{{@config.custom.socialFacebook}}" class="facebook" aria-label="Facebook">
                    <svg class="icon">
                        <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#facebook"/>
                    </svg>
                </a>
            {{/if}}
            {{#if @config.custom.socialTwitter}}
                <a href="{{@config.custom.socialTwitter}}" class="twitter" aria-label="Twitter">
                    <svg class="icon">
                        <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#twitter"/>
                    </svg>
                </a>
            {{/if}}
            {{#if @config.custom.socialGoogleplus}}
                <a href="{{@config.custom.social_googleplus}}" class="gplus" aria-label="Google +">
                    <svg class="icon">
                        <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#gplus"/>
                    </svg>
                </a>
            {{/if}}
            {{#if @config.custom.socialInstagram}}
                <a
                    href="{{@config.custom.socialInstagram}}"
                    class="instagram"
                    aria-label="Instagram">
                    <svg class="icon">
                        <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#instagram"/>
                    </svg>
                </a>
            {{/if}}
            {{#if @config.custom.socialLinkedin}}
                <a href="{{@config.custom.socialLinkedin}}" class="linkedin" aria-label="LinkedIn">
                    <svg class="icon">
                        <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#linkedin"/>
                    </svg>
                </a>
            {{/if}}
            {{#if @config.custom.socialVimeo}}
                <a href="{{@config.custom.socialVimeo}}" class="vimeo" aria-label="Vimeo">
                    <svg class="icon">
                        <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#vimeo"/>
                    </svg>
                </a>
            {{/if}}
            {{#if @config.custom.socialPinterest}}
                <a
                    href="{{@config.custom.socialPinterest}}"
                    class="pinterest"
                    aria-label="Pinterest">
                    <svg class="icon">
                        <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#pinterest"/>
                    </svg>
                </a>
            {{/if}}
            {{#if @config.custom.socialYoutube}}
                <a href="{{@config.custom.socialYoutube}}" class="youtube" aria-label="Youtube">
                    <svg class="icon">
                        <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#youtube"/>
                    </svg>
                </a>
            {{/if}}
        </div>
    {{/if}}
    {{#if @config.custom.copyrightText}}
        <div class="footer__copyright">
            {{{@config.custom.copyrightText}}}
        </div>
    {{/if}}
</footer>
</div>

{{#if @config.custom.search}}
    <div class="search">
        <div class="search__overlay">
            <button class="search__close" aria-label="{{ translate 'search.close' }}">{{ translate 'search.close' }}</button>
            <form action="{{@website.searchUrl}}">
                <input
                    class="search__input"
                    type="search"
                    name="{{@config.custom.searchParam}}"
                    placeholder="{{ translate 'search.placeholder' }}"
                    autofocus="autofocus"/>
            </form>
        </div>
    </div>
{{/if}}

<script defer src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
<script defer src="{{js "scripts.min.js"}}"></script>
{{#is "post"}}
   {{#post}}
      {{#if hasGallery}}
          {{> photoswipe}}
      {{/if}}
  {{/post}}
{{/is}}
{{#if @renderer.previewMode}}
<script defer src="{{js "svg2js.js"}}"></script>
<script defer src="{{js "svg-fix.js"}}"></script>
{{/if}}
{{{@footerCustomCode}}}
{{{ publiiFooter }}}
</body>
</html>
