{{#unless level}}
<nav class="footer__nav">
{{/unless}}
    <ul>
        {{#each items}}
            <li{{menuItemClasses}}>
            {{#if link}}
            <a href="{{menuUrl}}" class="inverse" {{#if title}} title="{{title}}"{{/if}}{{#if target}} target="{{target}}"{{/if}}>{{label}}</a>
            {{else}}
            <span{{#if title}} title="{{title}}"{{/if}}>{{label}}</span>
            {{/if}}
        </li>
        {{/each}}
    </ul>
{{#unless level}}
</nav>
{{/unless}}
