{{> head}}
    {{> top}}
    <main>
        <div class="hero">
            {{#author}}
                {{#if avatar}}
                    <img src="{{avatar}}" class="author__thumb" alt="{{name}}">
                {{/if}}
                <p class="hero__category">
                    {{postsNumber}}
                    {{ translate "listing.post" (math postsNumber '+' 0)}}
                </p>
                <h1>{{name}}</h1>
                {{#if description}}
                    <p class="hero__meta u-wrapper">
                        {{description}}
                    </p>
                {{/if}}
            {{/author}}
        </div>
        {{#if posts.length}}
            <div
                class="category{{#if @config.custom.cardsAuthorReverse}} category--reverse{{/if}}">
                {{#each posts}}
                    <article
                        class="card{{#if @config.custom.cardsAuthorFeaturedBadge}}{{#isFeatured}} card--featured{{/isFeatured}}{{/if}}">
                        {{#featuredImage}}
                            {{#if url}}
                                {{#if @config.custom.lazyLoad}}
                                    <a href="{{../url}}" class="card__image"><img
                                        class="lazyload"
                                        {{#checkIf @config.custom.lazyLoadEffect '!==' "lqip" }}
                                              src="{{urlXs}}"
                                        {{else}}
                                              data-src="{{url}}"
                                        {{/checkIf}}
                                        data-srcset="{{srcset.cards}}"
                                        data-sizes="auto"
						                data-expand="300"
                                        alt="{{alt}}"></a>
                                {{else}}
                                    <a href="{{../url}}" class="card__image">
                                        <img
                                            src="{{url}}"
                                            sizes="{{sizes.cards}}"
                                            srcset="{{srcset.cards}}"
                                            alt="{{alt}}">
                                    </a>
                                {{/if}}
                            {{/if}}
                        {{/featuredImage}}
                        <div class="card__txt">
                            <header>
                                <h2>
                                    <a href="{{url}}" class="inverse">
                                        {{title}}
                                    </a>
                                </h2>
                                {{#checkIfAny @config.custom.cardAuthorAuthor @config.custom.cardAuthorDate}}
                                    <p class="card__meta">
                                        {{#author}}
                                            {{#if @config.custom.cardAuthorAuthor}}
                                                <a href="{{url}}" title="{{name}}">{{name}}</a>
                                            {{/if}}
                                        {{/author}}
                                        {{#if @config.custom.cardAuthorDate}}
                                             <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                                {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                    {{date createdAt @config.custom.formatDate}}
                                {{else}}
                                    {{date createdAt @config.custom.formatDateCustom}}
                                {{/checkIf}}
                            </time>
                                        {{/if}}
                                    </p>
                                {{/checkIfAny}}
                            </header>
                            {{#if @config.custom.cardAuthorExcerpt}}
                                {{#if excerpt}}
                                    <p class="card__desc">{{{excerpt}}}</p>
                                {{/if}}
                            {{/if}}
                            {{#if @config.custom.cardAuthorReadmore}}
                                <a href="{{url}}" class="btn">{{ translate 'post.readMore' }}</a>
                            {{/if}}
                        </div>
                    </article>
                {{/each}}
            </div>
        {{/if}}
        {{> pagination}}
    </main>
    {{> footer}}
