{{> head}}
{{> top}}
<main>
   {{#if @customHTML.beforePost}}
      <div class="banner banner--before-post">
         {{{@customHTML.beforePost }}}
      </div>
   {{/if}}
   {{#post}}
      <article class="post u-wrapper">
         <header class="hero">
            {{#if @config.post.displayCategoryName}}
               {{#if tags}}
                  <span class="hero__category">
                     {{#each tags}}
                        {{#if @first}}
                           <a href="{{url}}">{{name}}</a>
                        {{/if}}
                     {{/each}}
                  </span>
               {{/if}}
            {{/if}}
            <h1>
               {{title}}
            </h1>
            {{#checkIfAny @config.post.displayAuthor @config.post.displayDate}}
               <p class="hero__meta">
                  {{#if @config.post.displayAuthor}}
                     {{#author}}
                        <a href="{{url}}" rel="author" title="{{name}}">{{name}}</a>
                     {{/author}}
                  {{/if}}
                  {{#if @config.post.displayDate}}
                     <span>{{ translate 'post.publishedOn' }}
                        <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                           {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                              {{date createdAt @config.custom.formatDate}}
                           {{else}}
                              {{date createdAt @config.custom.formatDateCustom}}
                           {{/checkIf}}
                        </time>
                     </span>
                  {{/if}}
               </p>
            {{/checkIfAny}}
            {{#featuredImage}}
               {{#if url}}
                  <figure class="post__image {{@config.post.postFeaturedImage}}">
                     {{#if @config.custom.lazyLoad}}
                        <img
                           class="lazyload"
                           {{#checkIf @config.custom.lazyLoadEffect '!==' "lqip" }}
                               src="{{urlXs2}}"
                           {{else}}
                              data-src="{{url}}"
                           {{/checkIf}}
                           data-srcset="{{srcset.post}}"
                           data-sizes="auto"
                           height="{{height}}"
                           width="{{width}}"
                           alt="{{alt}}">
                     {{else}}
                        <img
                           src="{{url}}"
                           sizes="{{sizes.post}}"
                           srcset="{{srcset.post}}"
                           height="{{height}}"
                           width="{{width}}"
                           alt="{{alt}}">
                     {{/if}}
                     <figcaption>{{caption}}
                        {{credits}}
                     </figcaption>
                  </figure>

               {{/if}}
            {{/featuredImage}}
         </header>

         <div class="post__entry">
            {{#if @config.custom.lazyLoad}}
               {{{lazyLoadForContentImages text @config.custom.lazyLoadEffect}}}
            {{else}}
               {{{text}}}
            {{/if}}
         </div>

         {{#checkIfAny @config.post.displayLastUpdatedDate @config.post.displayShareButtons @config.post.displayTags @config.post.displayAuthorBio @config.post.displayPostNavigation @config.post.displayRelatedPosts}}
            <footer class="post__footer">

               {{#if @config.post.displayLastUpdatedDate}}
                  {{#if modifiedAt}}
                     <p class="post__last-updated">
                        {{ translate 'post.lastUpdatedDate' }}
                        {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                           {{date modifiedAt @config.custom.formatDate}}
                        {{else}}
                           {{date modifiedAt @config.custom.formatDateCustom}}
                        {{/checkIf}}
                     </p>
                  {{/if}}
               {{/if}}

               {{#checkIfAny @config.post.displayShareButtons @config.post.displayTags}}
                  <div class="post__share-tag-wrap">
                     {{#if @config.post.displayShareButtons}}
                        <div class="post__share">
                           <h3 class="u-h6">{{ translate 'post.share' }}</h3>
                           {{> share-buttons}}
                        </div>
                     {{/if}}
                     {{#if @config.post.displayTags}}
                        {{#if tags}}
                           <ol class="post__tag">
                              <dt>{{ translate 'post.tags' }}</dt>
                              {{#each tags}}
                                 <dd>
                                    <a href="{{url}}">{{name}}</a>
                                 </dd>
                              {{/each}}
                           </ol>
                        {{/if}}
                     {{/if}}
                  </div>
               {{/checkIfAny}}

               {{#if @config.post.displayAuthorBio}}
                  {{#author}}
                     <div class="post__bio">
                        {{#if @config.custom.lazyLoad}}
                           <img class="lazyload" data-src="{{avatar}}" alt="{{name}}">
                        {{else}}
                           <img src="{{avatar}}" alt="{{name}}">
                        {{/if}}
                        {{#if name}}
                           <h3 class="u-h5">
                              <a href="{{url}}" class="inverse" title="{{name}}">{{name}}</a>
                           </h3>
                        {{/if}}
                        {{#if description}}
                           <p>{{description}}
                           </p>
                        {{/if}}
                        {{#if name}}
                           <p>
                              <a href="{{url}}" class="btn">{{ translate 'post.viewAuthorPosts' }}</a>
                           </p>
                        {{/if}}
                     </div>
                  {{/author}}
               {{/if}}

               {{#if @config.post.displayPostNavigation}}
                  {{#checkIfAny ../previousPost ../nextPost}}
                     <nav class="post__nav">
                        {{#../previousPost}}
                           <div class="post__nav__prev">
                              <a href="{{url}}" class="post__nav__link" rel="prev">
                                 {{#featuredImage}}
                                    {{#if urlXs}}
                                       {{#if @config.custom.lazyLoad}}
                                          <img
                                             class="lazyload"
                                             {{#checkIf @config.custom.lazyLoadEffect '!==' "lqip" }}
                                                 src="{{urlXs}}"
                                             {{else}}
                                                 data-src="{{urlXs}}"
                                             {{/checkIf}}
                                             data-srcset="{{urlXs}}"
                                             data-expand="300"
                                             alt="{{alt}}">

                                       {{else}}
                                          <img src="{{urlXs}}" alt="{{alt}}">
                                       {{/if}}
                                    {{/if}}
                                 {{/featuredImage}}
                                 <div class="post__nav__text">
                                    {{ translate 'post.previousPost' }}
                                    <h5>
                                       {{title}}
                                    </h5>
                                 </div>
                              </a>
                           </div>
                        {{/../previousPost}}
                        {{#../nextPost}}
                           <div class="post__nav__next">
                              <a href="{{url}}" class="post__nav__link" rel="next">
                                 <div class="post__nav__text">
                                    {{ translate 'post.nextPost' }}
                                    <h5>
                                       {{title}}
                                    </h5>
                                 </div>
                                 {{#featuredImage}}
                                    {{#if urlXs}}
                                       {{#if @config.custom.lazyLoad}}
                                          <img
                                             class="lazyload"
                                             {{#checkIf @config.custom.lazyLoadEffect '!==' "lqip" }}
                                                 src="{{urlXs}}"
                                             {{else}}
                                                 data-src="{{urlXs}}"
                                             {{/checkIf}}
                                             data-srcset="{{urlXs}}"
                                             data-expand="300"
                                             alt="{{alt}}">
                                       {{else}}
                                          <img src="{{urlXs}}" alt="{{alt}}">
                                       {{/if}}
                                    {{/if}}
                                 {{/featuredImage}}
                              </a>
                           </div>
                        {{/../nextPost}}
                     </nav>
                  {{/checkIfAny}}
               {{/if}}
               {{#if @config.post.displayRelatedPosts}}
                  {{#if ../relatedPosts}}
                     <div class="post__related">
                        <h3 class="u-h5">
                           {{ translate 'post.relatedPosts' }}
                        </h3>
                        <div class="post__related__wrap">
                           {{#each ../relatedPosts}}
                              <figure>
                                 {{#featuredImage}}
                                    {{#if url}}
                                       {{#if @config.custom.lazyLoad}}
                                          <a href="{{../url}}">
                                             <img
                                                class="lazyload"
                                                {{#checkIf @config.custom.lazyLoadEffect '!==' "lqip" }}
                                                    src="{{urlXs}}"
                                                {{else}}
                                                    data-src="{{urlXs}}"
                                                {{/checkIf}}
                                                data-srcset="{{urlXs}}"
                                                data-expand="50"
                                                alt="{{alt}}">
                                          </a>
                                       {{else}}
                                          <a href="{{../url}}">
                                             <img src="{{urlXs}}" alt="{{alt}}">
                                          </a>
                                       {{/if}}
                                    {{/if}}
                                 {{/featuredImage}}
                                 <figcaption>
                                    <h4>
                                       <a href="{{url}}" class="inverse">{{title}}</a>
                                    </h4>
                                    <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                                       {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                          {{date createdAt @config.custom.formatDate}}
                                       {{else}}
                                          {{date createdAt @config.custom.formatDateCustom}}
                                       {{/checkIf}}
                                    </time>
                                 </figcaption>
                              </figure>
                           {{/each}}
                        </div>
                     </div>
                  {{/if}}
               {{/if}}
            </footer>
         {{/checkIfAny}}
      </article>
   {{/post}}
   {{#if @config.post.displayComments}}
      <div class="comments u-wrapper">
         <h3 class="u-h5">
            {{ translate 'post.comments' }}
         </h3>
         {{> disqus}}
      </div>
   {{/if}}
   {{#if @customHTML.afterPost}}
      <div class="banner banner--after-post">
         {{{@customHTML.afterPost}}}
      </div>
   {{/if}}
</main>
{{> footer}}
