<footer class="footer">
        <a class="footer__logo" href="{{@website.url}}">
            {{#if @website.logo}}
                <img src="{{@website.logo}}" alt="{{@website.name}}">
            {{else}}
                {{@website.name}}
            {{/if}}
        </a>

        {{> menu-footer menus.footerMenu}}

        {{#if @config.custom.socialButtons}}
            <div class="footer__follow">
                {{#if @config.custom.socialFooterFacebook}}
                    {{#if @config.custom.socialFacebook}}
                        <a href="{{@config.custom.socialFacebook}}" aria-label="Facebook">
                            <svg>
                                <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#facebook" />
                            </svg>
                        </a>
                    {{/if}}
                {{/if}}
                {{#if @config.custom.socialFooterTwitter}}
                    {{#if @config.custom.socialTwitter}}
                        <a href="{{@config.custom.socialTwitter}}" aria-label="Twitter">
                            <svg>
                                <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#twitter" />
                            </svg>
                        </a>
                    {{/if}}
                {{/if}}
                {{#if @config.custom.socialFooterGoogleplus}}
                    {{#if @config.custom.socialGoogleplus}}
                        <a href="{{@config.custom.social_googleplus}}" aria-label="Google +">
                            <svg>
                                <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#gplus" />
                            </svg>
                        </a>
                    {{/if}}
                {{/if}}
                {{#if @config.custom.socialFooterInstagram}}
                    {{#if @config.custom.socialInstagram}}
                        <a href="{{@config.custom.socialInstagram}}" aria-label="Instagram">
                            <svg>
                                <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#instagram" />
                            </svg>
                        </a>
                    {{/if}}
                {{/if}}
                {{#if @config.custom.socialFooterLinkedin}}
                    {{#if @config.custom.socialLinkedin}}
                        <a href="{{@config.custom.socialLinkedin}}" aria-label="LinkedIn">
                            <svg>
                                <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#linkedin" />
                            </svg>
                        </a>
                    {{/if}}
                {{/if}}
                {{#if @config.custom.socialFooterVimeo}}
                    {{#if @config.custom.socialVimeo}}
                        <a href="{{@config.custom.socialVimeo}}" aria-label="Vimeo">
                            <svg>
                                <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#vimeo" />
                            </svg>
                        </a>
                    {{/if}}
                {{/if}}
                {{#if @config.custom.socialFooterPinterest}}
                    {{#if @config.custom.socialPinterest}}
                        <a href="{{@config.custom.socialPinterest}}" aria-label="Pinterest">
                            <svg>
                                <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#pinterest" />
                            </svg>
                        </a>
                    {{/if}}
                {{/if}}
                {{#if @config.custom.socialFooterYoutube}}
                    {{#if @config.custom.socialYoutube}}
                        <a href="{{@config.custom.socialYoutube}}" aria-label="Youtube">
                            <svg>
                                <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#youtube" />
                            </svg>
                        </a>
                    {{/if}}
                {{/if}}
            </div>
        {{/if}}

        {{#if @config.custom.copyrightText}}
            <div class="footer__copyright">
                {{{@config.custom.copyrightText}}}
            </div>
        {{/if}}

    </footer>
</div>

<script defer src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" aria-dropeffect="" crossorigin="anonymous"></script>
<script defer src="{{js "scripts.min.js"}}"></script>
{{#is "post"}}
   {{#post}}
      {{#if hasGallery}}
          {{> photoswipe}}
      {{/if}}
  {{/post}}
{{/is}}
{{#checkIfAny @config.custom.frontCommentCount @config.custom.tagCommentCount @config.custom.authorCommentCount @config.post.displayCommentCount}}
    <script id="dsq-count-scr" src="//{{@config.custom.commentDisqusShortname}}.disqus.com/count.js" async></script>
{{/checkIfAny}}
{{#if @renderer.previewMode}}
<script defer src="{{js "svg2js.js"}}"></script>
<script defer src="{{js "svg-fix.js"}}"></script>
{{/if}}
{{{@footerCustomCode}}}
{{{ publiiFooter }}}
</body>
</html>
